// base
@import "partials/_variables.scss";
@import "partials/_mixin.scss";

// colors \\

$white: #ffffff;
$orange: #e66300;
$dark_blue: #37374e;
$grey: #dfdfdf;
$dark_grey: #555568;

// end of colors \\

$containerWidth: 1366px;

.hidden {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1 !important;
  pointer-events: all;
}

.burger {
  @include breakpoint(mobile) {
    right: 32px;
    top: 32px;
  }
  @include breakpoint(tablet) {
    right: 40px;
    top: 40px;
  }
  will-change: transform;
  transform: translateZ(0);
  $root: &;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex-direction: column;
  font-size: 1.75em;
  height: 1.25rem;
  justify-content: space-around;
  margin-left: auto;
  outline: transparent;
  padding: 0;
  position: fixed;
  transition: transform .25s;
  width: 25px;
  z-index: 5;

  @include breakpoint(desktop) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &--sub-nav-open {
    #{$root}__piece {
      border-top: 2px solid palette(gray, black);
    }
  }

  &__piece {
    border-top: 2px solid $dark_blue;
    display: block;
    flex: 0 1 1px;
    position: absolute;
    right: 0;
    transform-origin: 50% 50%;
    transition: transform .25s, opacity .12s, border 1s cubic-bezier(.86, 0, .07, 1), width .25s;
    width: 100%;
  }

  span {
    top: 50%;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: 100%;
    }
  }

  &--side {
    margin-left: 1rem; 
    span {
      border-top: 2px solid palette(teal, base);

      &:nth-child(1) {
        width: 80%;
      }

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  &--show-all {
    @media screen and (min-width: 320px) {
      display: inline-block;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--active {
    // Active burger
    $rotate-angle: 45;
    // transform: translateX(-1.5rem);

    #{$root}__piece {
      border-top: 2px solid palette(gray, white);
    }

    span {
      opacity: 0;
      // transform: scale(.5);

      &:first-child {
        opacity: 1;
        // transform: rotate(45deg) translateY(.70rem) translateX(0);
        transform: rotate(45deg) translateY(0.675rem) translateX(0px);
      }

      &:last-child {
        opacity: 1;
        // transform: rotate(-45deg) translateY(-0.70rem) translateX(0);
        transform: rotate(-45deg) translateY(-0.9rem) translateX(3px);
      }
    }

    &#{$root}--side {
      #{$root}__piece {
        border-top: 2px solid palette(teal, base);
        width: 100% !important;
      }
    }
  }
}

#mainNav {
  transform: translateZ(0) translateY(calc(100% + 80px));
  display: flex;
  margin-left: 0px;
  transition: transform 0.5s cubic-bezier(0, 0.07, 0.12, 0.98);
  z-index: 4;

  @include breakpoint(mobile) {
    width: 100%;
    background-color: $dark_blue;
    height: calc(100% - 80px);
    top: 80px;
    flex-direction: column;
    position: fixed;
  }
  @include breakpoint(desktop) {
    height: calc(100% - 90px);
    background-color: $white;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: -80px;
  }

  a {
    height: 35px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    font-weight: 400;
    cursor: pointer;

    span {
      pointer-events: none;
    }

    &.selected span {
      @include breakpoint(mobile) {
        border-bottom: 1.5px solid $white;
      }
      @include breakpoint(desktop) {
        border-bottom: 1.5px solid $dark_blue;
      }
    }

    @include breakpoint(mobile) {
      color: $white;
      text-align: center;

      @media screen and (orientation:landscape) {
        font-size: 25px;
        padding-top: 15px;
        top: 0;
      }
      @media screen and (orientation:portrait) {
        font-size: 32px;
        padding-top: 25px;
        top: 75px;
      }
    }
    @include breakpoint(desktop) {
      color: $dark_blue;
      padding-top: 0;
      top: 47px;
      font-size: 20px;
      margin-right: 30px;

      &:last-child {
        margin-right: 40px;
      }
    }
  }

  &.nav_open {
    opacity: 1;
    transform: translateZ(0) translateY(0);
    overflow-y: scroll; 
  }
}

html, body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $dark_blue;
}

#header {
  background-color: $white;
  position: fixed;
  z-index: 3;

  @include breakpoint(mobile) {
    width: 100%;
    height: 80px;
  }
  @include breakpoint(desktop) {
    height: 90px;
  }
}

#companyName {
  background-image: url(../images/company_name.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  cursor: pointer;

  @include breakpoint(mobile) {
    width: 160px;
    height: 36px;
    left: 1rem;
  }
  @include breakpoint(desktop) {
    width: 200px;
    height: 46px;
    left:40px;
  }
}

.page {
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  top: 80px;
  @include breakpoint(desktop) {
    height: calc(100vh - 90px);
    top: 90px;
  }

  &__container {
    max-width: $containerWidth;
    margin: 0 auto;
  }
}

.page_heading {
  font-size: 2rem;
  border-bottom: 2px solid $dark_blue;
  font-weight: 400;

  @include breakpoint(mobile) {
    // @media screen and (orientation:landscape) {
    //   margin-top: calc(20vh - 60px);
    // }
    // @media screen and (orientation:portrait) {
    //   margin-top: calc(20vh - 100px);
    // }
  }
  @include breakpoint(desktop) {
    margin-top: calc(20vh - 75px);
  }
}

.big_text {
  font-weight: 100;

  @include breakpoint(mobile) {
    font-size: 1rem;
  }
  @include breakpoint(desktop) {
    font-size: 1.5rem;
  }
}

$initalDelay: 1.5s;
$logoAndTagDelay: $initalDelay + 2s;
$logoTagAndSentenDelay: $logoAndTagDelay + 1.75s;

#home {
  min-height: calc(100vh - 80px);
  .logo {
    position: relative;
    height: 200px;
    overflow: visible;

    @include breakpoint(desktop) {
      height: 250px;
    }

    * {
      fill: #fff;
    }

    &__a {
      animation: fadeInUp 2.5s cubic-bezier(.25,.46,.45,.94) both 500ms;
    }

    &__t {
      animation: fadeInUp 2.5s cubic-bezier(.25,.46,.45,.94) 750ms both;
    }
  }

}

.home-intro {
  color: white;
  text-align: center;
  margin: 2rem;
  max-width: 100%;
  &__tagline {
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 375px;
    max-width: 100%;
    > * {
      fill: #fff;
    }
    @include breakpoint(desktop) {
      font-size: 2rem;
    }
  }
  &__sentence {
    animation: shorterFadeInUp 1.5s cubic-bezier(.25,.46,.45,.94) ($logoAndTagDelay + 750ms) both;
    margin: .5rem 0;
    max-width: 400px;
    font-size: 1rem;
    font-weight: 100;
    @include breakpoint(desktop) {
      font-size: 1.5rem;
    }
  }
}

.tagline {
  overflow: visible;

  &__identify,
  &__guide,
  &__grow {
    animation: fadeInFromLeft 750ms ease-out both;
  }

  &__identify {
    animation-delay: $initalDelay;
  }

  &__guide {
    animation-delay: $initalDelay + 1s;
  }

  &__grow {
    animation-delay: $initalDelay + 2s;
  }

  &__dash {
    animation: shorterFadeInFromLeft 1s ease-in-out both;
    &--first {
      animation-delay: $initalDelay + 0.5s;
    }
    &--second {
      animation-delay: $initalDelay + 1.5s;
    }
  }
}

.arrow {
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  transform-origin: 0;
  bottom: 1%;
  z-index: 3;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  // background: transparent url(../images/downArrow.svg) no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in both $logoTagAndSentenDelay;

  @include breakpoint(desktop) {
    display: flex;
  }

  &__tease {
    color: white;
    animation: fadeInUp 2.5s cubic-bezier(.25,.46,.45,.94) both $logoTagAndSentenDelay;
    &--hide {
      animation: shorterFadeOutDown 500ms ease-out both;
    }
    &--show {
      animation: fadeInUp 1.75s cubic-bezier(.25,.46,.45,.94) both;
    }
  }

  &__graphic {
    height: 50px;
    width: 50px;
    animation: bounce 1s ease-in-out 15 both $logoTagAndSentenDelay;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shorterFadeOutDown {
  from {
    opacity: 1;
    transform: translate(0, -10px);
  }

  to {
    opacity: 0;
    transform: none;
  }
}

@keyframes shorterFadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translate(-5px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shorterFadeInFromLeft {
  from {
    opacity: 0;
    transform: translate(-2px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.home-hero {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba($dark_blue, 0.35), rgba($dark_blue, 0.35));
  }

  &__image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    width: 50%;
    &:first-child {
      > img {
        object-position: 65% center;
      }
    }
    &:last-child {
      > img {
        object-position: 30% center;
      }
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.home-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#about {
  flex-direction: column;
  background-color: $grey;
  color: $dark_blue;

  @include breakpoint(mobile) {
    @media screen and (orientation:landscape) {
      height: calc(120% - 80px);
    }
    @media screen and (orientation:portrait) {
      height: calc(150% - 80px);
    }
  }
  @include breakpoint(tablet) {
    @media screen and (orientation:landscape) {
      height: calc(100% - 80px);
    }
    @media screen and (orientation:portrait) {
      height: calc(100vh - 80px);
    }
  }
  @include breakpoint(desktop) {
    min-height: calc(100vh - 80px);
  }

  h2 {
    margin-left: calc(50% - 42px);
    margin-right: calc(50% - 42px);
    margin-bottom: 2%;
  }

  p {
    text-align: center;
    font-weight: 100;

    @include breakpoint(mobile) {
      font-size: 1rem;
      width: 80%;
      margin-left: 10%;
    }
    @include breakpoint(tablet) {
      font-size: 1.1rem;
    }
    @include breakpoint(lrg-desktop) {
      font-size: 1.5rem;
    }
  }
}

#identify {
  @include breakpoint(mobile) {
    flex-direction: column;

    @media screen and (orientation:landscape) {
      height: calc(150vw - 160px);
    }
    @media screen and (orientation:portrait) {
      // height: calc(200vh - 160px);
    }
  }
  @include breakpoint(desktop) {
    flex-direction: row;
    height: calc(100vh - 90px);
  }

  div:first-child {
    background-color: $dark_blue;

    @include breakpoint(mobile) {
      @media screen and (orientation:landscape) {
        height: calc(60% - 80px);
        width: 100%;
      }
      @media screen and (orientation:portrait) {
        height: 100%;
        width: 100%;
      }
    }
    @include breakpoint(desktop) {
      width: 40%;
      height: 100%;
    }

    h2 {
      color: $white;
      border-color: $white;
      width: 104px;

      @include breakpoint(mobile) {
        margin-left: calc(50% - 52px);
      }
      @include breakpoint(desktop) {
        margin-left: 40px;
      }
    }

    p {
      color: $white;

      &:nth-child(3) {
        font-weight: 100;
      }

      @include breakpoint(mobile) {
        text-align: center;
        width: 80%;
        margin-left: 10%;
      }
      @include breakpoint(tablet) {
        font-size: 1.1rem;
      }
      @include breakpoint(desktop) {
        text-align: left;
        width: 80%;
        margin-left: 40px;

        &.big_text {
          font-size: 1.25rem;
        }
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;

    @include breakpoint(desktop) {
      width: 60%;
      height: 100%;
    }

    .wrapper {
      will-change: height;
      height: 20%;
      width: 100%;
      position: relative;

      @include breakpoint(mobile) {
        transition: height 0.25s ease-out;
      }

      p {
        transition: transform 250ms cubic-bezier(.25,.46,.45,.94), opacity 250ms cubic-bezier(.25,.46,.45,.94);
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
        padding: 0.5rem;
        position: absolute;
        transform: translateY(10%);
        bottom: 1rem;
        opacity: 0;
        text-align: left;
        // background-color: $grey;
        // color: $dark_blue;
        color: $white;
        pointer-events: none;
        font-size: 0.8rem;
        @include breakpoint(desktop) {
          background-color: transparent;
          padding: 1rem 10%;
          font-size: 1rem;
          top: 40%;
        }
      }

      .icon {
        will-change: transform;
        width: 50px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: calc(50% - 15px);
        transform: translate(-50%, -50%);
        transition: transform 250ms ease-out;
        pointer-events: none;

        &:after {
          font-size: 1rem;
          color: $white;
          display: block;
          padding-top: 40px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          text-transform: capitalize;
          white-space: nowrap;
          transition: all 1s ease-out;
          @include breakpoint(desktop) {
            font-size: 1.2rem;
          }
        }
      }

      &:hover {
        p {
          opacity: 1;
        }
        @include breakpoint(mobile) {
          height: 40%;

          .icon {
            transform: translate(-50%, -185%) scale(1);
          }
        }
        @include breakpoint(desktop) {
          height: 20vw;

          .icon {
            transform: translate(-50%, -200%) scale(1);
          }
        }
      }

      &:nth-child(1) {
        background-image: linear-gradient(
          rgba($dark_blue, 0.35), 
          rgba($dark_blue, 0.35)
        ), url('../images/edutech.jpg');
        background-position: right top;
        background-size: cover;

        .icon {
          background: transparent url(../images/edutech.svg) no-repeat center;

           &:after {
            content: 'edutech';
          }
        }
      }

      &:nth-child(2) {
        background-image: linear-gradient(
          rgba($dark_blue, 0.35), 
          rgba($dark_blue, 0.35)
        ), url('../images/logistics.jpg');
        background-position: center 30%;
        background-size: cover;

        .icon {
          background: transparent url(../images/logistics.svg) no-repeat center;

           &:after {
            content: 'logistics';
          }
        }
      }

      &:nth-child(3) {
        background-image: linear-gradient(
          rgba($dark_blue, 0.35), 
          rgba($dark_blue, 0.35)
        ), url('../images/finTech.jpg');
        background-position: right top;
        background-size: cover;

        .icon {
          background: transparent url(../images/finTech.svg) no-repeat center;

           &:after {
            content: 'fin Tech';
          }
        }
      }

      &:nth-child(4) {
        background-image: linear-gradient(
          rgba($dark_blue, 0.35), 
          rgba($dark_blue, 0.35)
        ), url('../images/health.jpg');
        background-position: center;
        background-size: cover;

        .icon {
          background: transparent url(../images/health.svg) no-repeat center;

           &:after {
            content: 'health';
          }
        }
      }

      &:nth-child(5) {
        background-image: linear-gradient(
          rgba($dark_blue, 0.35), 
          rgba($dark_blue, 0.35)
        ), url('../images/cyberSecurity.jpg');
        background-position: center 90%;
        background-size: cover;

        .icon {
          background: transparent url(../images/cyberSecurity.svg) no-repeat center;

           &:after {
            content: 'cyber Security';
          }
        }
      }
    }
  }
}

#guide, #grow {
  flex-direction: column;

  .wrapper:first-child {
    width: 100%;
    min-height: 300px;
    flex: 1;
    @include breakpoint(mobile) {
      @media screen and (orientation:landscape) {
        height: calc(60% - 80px);
        width: 100%;
      }
      @media screen and (orientation:portrait) {
      }
    }
    @include breakpoint(desktop) {
      height: 75%;
      min-height: auto;
      flex: auto;
    }

    color: $white;
    background-image: linear-gradient(
      rgba($dark_blue, 0.35), 
      rgba($dark_blue, 0.35)
    ), url('../images/guide.jpg');
    background-position: center top;
    background-size: cover;

    h2 {
      margin-left: calc(50% - 42.5px);
      margin-right: calc(50% - 42.5px);
      margin-bottom: 2%;
      border-color: $white;
    }

    p {
      text-align: center;

      @include breakpoint(mobile) {
        width: 80%;
        margin-left: 10%;
      }
      @include breakpoint(tablet) {
        font-size: 1.1rem;
      }
      @include breakpoint(desktop) {
        width: 50%;
        margin-left: 25%;

        &.big_text {
          font-size: 1.25rem;
        }
      }

      &:nth-child(3), &:nth-child(4) {
        font-weight: 100;
      }
    }
  }

  .wrapper:nth-child(2) {
    background-color: $dark_blue;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;

    @include breakpoint(desktop) {
      height: 25%;
      flex: auto;
      flex-direction: row;
    }

    .panel {
      // justify-content: center;
      background-color: $dark_blue;
      border-left: 0;
      box-sizing: border-box;
      border-top: 1px solid $dark_grey;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      position: relative;
      transition: width 0.55s ease-out, flex 0.25s ease-out, background-color 250ms ease-out;
      width: 100%;
      will-change: width, padding;

      @include breakpoint(desktop) {
        width: calc(100% / 6 - 1px);
        height: 100%;
        padding: 0;
        border-left: 1px solid $dark_grey;
        border-top: 0;
        flex-direction: row;
      }

      .icon {
        will-change: transform, left;
        pointer-events: none;
        width: 40px;
        height: 40px;
        transition: transform 0.55s;
        display: flex;
        margin: .75rem 1rem;

        @include breakpoint(desktop) {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          top: calc(50% - 20px);
          margin: 0;
          // height: 25%;
          transition: all 250ms ease-out;
        }

        &:after {
          color: $white;
          display: block;
          font-size: 1rem;
          font-weight: 100;
          // padding-top: 6rem;
          pointer-events: none;
          text-transform: capitalize;
          // top: -50px;
          transition: opacity 250ms ease-out;
          white-space: nowrap;
          margin-left: calc(100% + 1rem);
          align-self: center;

          @include breakpoint(desktop) {
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            margin-left: 0;
            position: absolute;
            padding-top: 5.25rem;
          }
        }
      }

      .text_wrapper {
        background-color: $grey;
        bottom: 0;
        height: auto;
        height: calc(100% - (40px + 1.5rem));
        margin: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        right: auto;
        top: 0;
        top: auto;
        transition: width 250ms ease-out, height 0.55s ease-out, opacity 250ms ease-out, transform 0.25s ease-out;
        width: 100%;
        will-change: width, opacity;
        opacity: 0;
        transform: translateY(100%);

        @include breakpoint(desktop) {
          opacity: 1;
          position: absolute;
          width: 0%;
          right: 0;
          height: 100%;
          transform: none;
        }

        .text {
          pointer-events: none;
          will-change: opacity;
          transition: opacity 0.1s ease-out;
          color: $dark_blue;
          position: relative;
          opacity: 0;
          margin: 0;
          width: 100%;
          padding: 1rem;
          box-sizing: border-box;
          font-size: .8rem;
          text-align: left;

          @include breakpoint(desktop) {
            text-align: center;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            left: 50%;
            position: absolute;
            text-align: left;
            top: 50%;
            width: 20vw;
          }
        }
      }

      &:hover {
        background-color: $dark_grey;
        transition: width 0.55s ease-out, flex 0.25s ease-out, background-color 250ms ease-out .3s;
        width: 100%;
        flex: 2.5;

        .text_wrapper {
          opacity: 1;
          // height: auto;
          transform: translateY(0%);

          @include breakpoint(desktop) {
            top: 50%;
            width: 100%;
            bottom: 0;
          }

          .text {
            opacity: 1;
            transition-delay: 0.6s;
            @include breakpoint(desktop) {
              transform: translate(-50%, -50%);
            }
          }
        }

        .icon {
          @include breakpoint(desktop) {
            transform: translate(-50%, -140%);
          }
          &:after {
            opacity: 1;
            @include breakpoint(desktop) {
              transform: translate(-50%, 1px);
            }
          }
        }

        @include breakpoint(tablet) {
          @media screen and (orientation:landscape) {
            padding-bottom: 25vh;
          }
          @media screen and (orientation:portrait) {
            padding-bottom: 15vw;
          }
        }

        @include breakpoint(desktop) {
          width: 40%;
          padding-bottom: 0;

          &:before {
            height: 100%;
            opacity: 0.3;
            width: 20%;
          }

          .text_wrapper {
            width: 80%;
            opacity: 1;
            height: 100%;
            top: 0;

            .text {
              // transition-delay: 0.6s;
              // opacity: 1;
              // transform: translate(-50%, -50%);
            }
          }

          .icon {
            left: 6.75%;
            transform: translate(0%, -50%);

            &:after {
              // transform: scale(0.5) translateX(-100%);
              // white-space: normal;
              // top: 20%;
              opacity: 0;
            }
          }
        }
      }

      &:first-child {
        border-color: $dark_blue;

        .icon {
          background: transparent url(../images/search.svg) no-repeat center;

           &:after {
            content: 'De-Risk';
          }
        }
      }

      &:nth-child(2) {

        .icon {
          background: transparent url(../images/legal.svg) no-repeat center;

           &:after {
            content: 'Regulatory & Legal';
          }
        }
      }

      &:nth-child(3) {

        .icon {
          background: transparent url(../images/connections.svg) no-repeat center;

           &:after {
            content: 'connections';
          }
        }
      }

      &:nth-child(4) {

        .icon {
          background: transparent url(../images/locations.svg) no-repeat center;

           &:after {
            content: 'locations';
          }
        }
      }

      &:nth-child(5) {

        .icon {
          background: transparent url(../images/finance.svg) no-repeat center;

           &:after {
            content: 'finance';
          }
        }
      }

      &:nth-child(6) {

        .icon {
          background: transparent url(../images/hr.svg) no-repeat center;

           &:after {
            content: 'HR';
          }
        }
      }

    }
  }
}

#guide {
  @include breakpoint(mobile) {
    z-index: 2;
    // overflow-y: auto;

    // @media screen and (orientation:landscape) {
    //   height: calc(150vw - 160px);
    // }
    // @media screen and (orientation:portrait) {
    //   height: calc(200vh - 160px);
    // }
  }
  @include breakpoint(desktop) {
    height: calc(100vh - 90px);
    z-index: 1;
  }

  h2 {
    margin-left: calc(50% - 38px);
    margin-right: calc(50% - 38px);
  }
}

#grow {
  transition: padding-bottom 1s ease-out;
  z-index: 2;
  pointer-events: none;
  // padding-bottom: calc(100vh - 80px);

  .wrapper:first-child {
    height: 100%;
    background-image: linear-gradient(
      rgba($dark_blue, 0.35), 
      rgba($dark_blue, 0.35)
    ), url('../images/grow.jpg');
    background-position: center;
    background-size: cover;
  }
  
  @include breakpoint(mobile) {
   padding-bottom: calc(100vh - 80px);

    // @media screen and (orientation:landscape) {
    //   height: calc(120% - 80px);
    // }
    // @media screen and (orientation:portrait) {
    //   height: calc(100vh - 80px);
    // }
  }
  @include breakpoint(desktop) {
    // height: calc(100vh - 90px);
    padding-bottom: 200px;
  }
}


.footer {
  color: $white;
  transition: all 1s ease-out;
  width: 100%;
  background-color: $dark_blue;
  bottom: 0;
  position: fixed;

  @include breakpoint(mobile) {
    @media screen and (orientation:landscape) {
      height: calc(120% - 80px);
    }
    @media screen and (orientation:portrait) {
      height: calc(100vh - 80px);
    }
  }
  @include breakpoint(desktop) {
    height: 200px;
  }

  div {
    left: 40px;
    width: calc(100% - 80px);
    position: absolute;
    display: flex;

    @include breakpoint(mobile) {
      flex-direction: column;
      height: 100%;
      padding-top: 24vh;

      &:nth-child(2) {
        display: none;
      }

      .email {
        margin-left: 0;
      }

      .linkedin {
        right: calc(50% - 17.5px);
        top: 50%;
      }

      p {
        text-align: center;
      }
    }

    @include breakpoint(desktop) {
      padding-top: 24px;
      flex-direction: row;
      height: auto;

       &:nth-child(2) {
        display: block;
      }

      .email {
        margin-left: 80px;
      }

      .linkedin {
        right: 0;
        top: 40px;
      }

      p {
        text-align: left;
      }
    }

    .email {
      text-decoration: none;
      color: $white;
      font-weight: 100;
    }

    .linkedin {
      width: 35px;
      height: 35px;
      background: transparent url(../images/linkedIn.svg) no-repeat;
      position: absolute;
    }
  }

  div:nth-child(2) {
    height: 45px;
    border-top: 1px solid $dark_grey;
    bottom: 0;
    font-weight: 100;

    p:nth-child(2) {
      right: 0;
      position: absolute;
      color: $dark_grey;
    }
  }
}